{% extends "auctions/layout.html" %}

{% block main %}
    
{% for m in messages %}
    <h2 class="{{m.tags}}">{{m}}</h2>
{% endfor %}

<h2>{{banner}}</h2>

<article>
    {% for listing in listings %}
        <section>
            <h3>
                <a href="{% url 'listing' listing.id %}"">{{listing.title}}</a>
                {% if not listing.active %}
                    - Bidding ended
                {% endif %}
            </h3>
            <p>created by {{listing.creator}} at {{listing.created_at}}</p>
            <p>Last modified at {{listing.updated_at}}</p>
            <p><i>
                {{listing.description}}
            </i></p>
        </section>
    {% endfor %}
</article>
{% endblock %}